<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "rails" %>
</head>
<body>

<%= yield %>

</body>
</html>
